### Import Library

In [251]:
import pandas as pd
import numpy as np

### Mengakses data CSV

In [252]:
df = pd.read_csv('life expectancy.csv')

### Copy database

In [253]:
df2 = df.copy()
df2

,Country Name,Country Code,Region,IncomeGroup,Year,Life Expectancy World Bank,Prevelance of Undernourishment,CO2,Health Expenditure %,Education Expenditure %,Unemployment,Corruption,Sanitation,Injuries,Communicable,NonCommunicable
0,Afghanistan,AFG,South Asia,Low income,2001,56.308,47.8,730.000000,NaN,NaN,10.809000,NaN,NaN,2179727.10,9689193.70,5795426.38
1,Angola,AGO,Sub-Saharan Africa,Lower middle income,2001,47.059,67.5,15960.000000,4.483516,NaN,4.004000,NaN,NaN,1392080.71,11190210.53,2663516.34
2,Albania,ALB,Europe & Central Asia,Upper middle income,2001,74.288,4.9,3230.000000,7.139524,3.45870,18.575001,NaN,40.520895,117081.67,140894.78,532324.75
3,Andorra,AND,Europe & Central Asia,High income,2001,NaN,NaN,520.000000,5.865939,NaN,NaN,NaN,21.788660,1697.99,695.56,13636.64
4,United Arab Emirates,ARE,Middle East & North Africa,High income,2001,74.544,2.8,97200.000000,2.484370,NaN,2.493000,NaN,NaN,144678.14,65271.91,481740.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3301,Vanuatu,VUT,East Asia & Pacific,Lower middle income,2019,70.474,12.4,209.999993,3.360347,1.77788,1.801000,3.0,NaN,12484.18,26032.56,69213.56
3302,Samoa,WSM,East Asia & Pacific,Lower middle income,2019,73.321,4.4,300.000012,6.363094,4.70625,8.406000,4.0,47.698788,6652.84,9095.19,43798.62
3303,South Africa,ZAF,Sub-Saharan Africa,Upper middle income,2019,64.131,6.3,439640.014648,9.109355,5.91771,28.469999,NaN,NaN,3174676.10,13198944.71,10214261.89
3304,Zambia,ZMB,Sub-Saharan Africa,Low income,2019,63.886,NaN,6800.000191,5.312203,4.46518,12.520000,2.5,NaN,510982.75,4837094.00,2649687.82
3305,Zimbabwe,ZWE,Sub-Saharan Africa,Lower middle income,2019,61.490,NaN,11760.000229,7.703565,NaN,4.833000,2.5,25.963544,644798.93,4187087.31,2364031.48

### Menghapus data yang memiliki nilai NaN

In [254]:
df2.isna().any()

Country Name                      False
Country Code                      False
Region                            False
IncomeGroup                       False
Year                              False
Life Expectancy World Bank         True
Prevelance of Undernourishment     True
CO2                                True
Health Expenditure %               True
Education Expenditure %            True
Unemployment                       True
Corruption                         True
Sanitation                         True
Injuries                          False
Communicable                      False
NonCommunicable                   False
dtype: bool

In [255]:
df2.dropna(inplace=True)
df2.isna().any()

Country Name                      False
Country Code                      False
Region                            False
IncomeGroup                       False
Year                              False
Life Expectancy World Bank        False
Prevelance of Undernourishment    False
CO2                               False
Health Expenditure %              False
Education Expenditure %           False
Unemployment                      False
Corruption                        False
Sanitation                        False
Injuries                          False
Communicable                      False
NonCommunicable                   False
dtype: bool

### Melakukan drop columns pada kolom yang tidak digunakan

In [256]:
df2

,Country Name,Country Code,Region,IncomeGroup,Year,Life Expectancy World Bank,Prevelance of Undernourishment,CO2,Health Expenditure %,Education Expenditure %,Unemployment,Corruption,Sanitation,Injuries,Communicable,NonCommunicable
698,Albania,ALB,Europe & Central Asia,Upper middle income,2005,75.228,8.9,4030.000210,6.335542,3.281550,15.970000,3.0,41.875655,94241.87,99241.18,568930.66
702,Armenia,ARM,Europe & Central Asia,Upper middle income,2005,72.626,12.3,4460.000038,5.861883,2.712030,10.203000,2.5,46.657125,92659.79,105444.38,793047.77
707,Azerbaijan,AZE,Europe & Central Asia,Upper middle income,2005,68.747,4.8,30040.000916,2.261077,2.974620,7.260000,2.5,23.121008,240229.35,826520.96,2003781.90
724,Central African Republic,CAF,Sub-Saharan Africa,Low income,2005,44.744,39.6,219.999999,4.367321,1.652220,5.695000,2.5,19.090005,310132.64,3766393.86,805165.65
737,Djibouti,DJI,Middle East & North Africa,Lower middle income,2005,57.991,31.3,430.000007,3.224672,8.365890,27.719999,2.5,25.705269,28409.67,310769.59,115615.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3279,Sao Tome and Principe,STP,Sub-Saharan Africa,Lower middle income,2019,70.385,13.0,150.000006,5.529762,5.921550,14.144000,3.5,33.535911,4293.10,16170.29,33337.54
3285,Chad,TCD,Sub-Saharan Africa,Low income,2019,54.239,31.7,2250.000000,4.353631,2.372460,1.123000,2.5,9.951136,626720.09,8496915.83,2459705.38
3286,Togo,TGO,Sub-Saharan Africa,Low income,2019,61.042,20.1,2369.999886,5.726069,4.069143,3.719000,3.0,9.103834,246081.26,1992666.23,1190315.76
3294,Tanzania,TZA,Sub-Saharan Africa,Lower middle income,2019,65.456,23.4,12449.999809,3.827693,3.596836,2.222000,3.0,26.238278,1478236.12,13341065.72,8469064.37
3302,Samoa,WSM,East Asia & Pacific,Lower middle income,2019,73.321,4.4,300.000012,6.363094,4.706250,8.406000,4.0,47.698788,6652.84,9095.19,43798.62

In [257]:
df2.drop(columns=['Country Name', 'Country Code', 'Region', 'Year'], inplace=True)
df2

,IncomeGroup,Life Expectancy World Bank,Prevelance of Undernourishment,CO2,Health Expenditure %,Education Expenditure %,Unemployment,Corruption,Sanitation,Injuries,Communicable,NonCommunicable
698,Upper middle income,75.228,8.9,4030.000210,6.335542,3.281550,15.970000,3.0,41.875655,94241.87,99241.18,568930.66
702,Upper middle income,72.626,12.3,4460.000038,5.861883,2.712030,10.203000,2.5,46.657125,92659.79,105444.38,793047.77
707,Upper middle income,68.747,4.8,30040.000916,2.261077,2.974620,7.260000,2.5,23.121008,240229.35,826520.96,2003781.90
724,Low income,44.744,39.6,219.999999,4.367321,1.652220,5.695000,2.5,19.090005,310132.64,3766393.86,805165.65
737,Lower middle income,57.991,31.3,430.000007,3.224672,8.365890,27.719999,2.5,25.705269,28409.67,310769.59,115615.60
...,...,...,...,...,...,...,...,...,...,...,...,...
3279,Lower middle income,70.385,13.0,150.000006,5.529762,5.921550,14.144000,3.5,33.535911,4293.10,16170.29,33337.54
3285,Low income,54.239,31.7,2250.000000,4.353631,2.372460,1.123000,2.5,9.951136,626720.09,8496915.83,2459705.38
3286,Low income,61.042,20.1,2369.999886,5.726069,4.069143,3.719000,3.0,9.103834,246081.26,1992666.23,1190315.76
3294,Lower middle income,65.456,23.4,12449.999809,3.827693,3.596836,2.222000,3.0,26.238278,1478236.12,13341065.72,8469064.37
3302,Lower middle income,73.321,4.4,300.000012,6.363094,4.706250,8.406000,4.0,47.698788,6652.84,9095.19,43798.62

### Pemilihan Feature dan target

In [258]:
X = df2.drop(columns=['IncomeGroup'])
y = df2['IncomeGroup']
y

698     Upper middle income
702     Upper middle income
707     Upper middle income
724              Low income
737     Lower middle income
               ...
3279    Lower middle income
3285             Low income
3286             Low income
3294    Lower middle income
3302    Lower middle income
Name: IncomeGroup, Length: 286, dtype: object

### Melakukan normalisasi data dengan MinMaxScaler

In [259]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()

columns = list(X.columns)
X[columns] = mms.fit_transform(X[columns])

### Melakukan Label encoder pada IncomeGroup

In [261]:
from sklearn.preprocessing import LabelEncoder
l = LabelEncoder()

In [262]:
y = l.fit_transform(y)
y

array([2, 2, 2, 0, 1, 2, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 2, 2, 2, 1,
       0, 1, 0, 2, 1, 1, 1, 0, 1, 1, 1, 0, 1, 2, 2, 1, 0, 1, 0, 2, 1, 0,
       1, 1, 0, 1, 0, 1, 2, 2, 1, 0, 0, 2, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 2, 2, 1, 0, 0, 2, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 2, 2, 1,
       0, 1, 0, 2, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 2, 1, 1,
       0, 0, 2, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 2, 1, 1,
       0, 0, 2, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 2, 1, 1, 0, 0,
       2, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1])

### Melakukan Split data

In [264]:
from sklearn.model_selection import train_test_split as tts

X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3)

print(f'panjang X_train = {len(X_train)}')
print(f'panjang X_test = {len(X_test)}')
print(f'panjang y_train = {len(y_train)}')
print(f'panjang y_test = {len(y_test)}')

panjang X_train = 200
panjang X_test = 86
panjang y_train = 200
panjang y_test = 86

### Modeling

In [265]:
from keras import Sequential as seq
from keras.layers import Dense as De

In [266]:
model = seq()

#input layer
model.add(De(8, activation='relu', input_dim=11))

# Hidden Layer
model.add(De(16, activation='relu'))
model.add(De(32, activation='relu'))

# Output Layer
model.add(De(1, activation='sigmoid'))

### Memanggil fungsi callback

In [267]:
from keras.callbacks import EarlyStopping

monitor_callbacks = EarlyStopping(monitor='val_accuracy', patience=10)

### Model Compile

In [268]:
from keras.optimizers import Adam

model.compile(
    optimizer = 'Adam',
    loss = 'binary_crossentropy',
    metrics = ['accuracy']
)

### Training Model

In [269]:
model.fit(
    x = X_train,
    y = y_train,
    validation_data=(X_test, y_test),
    epochs=10,
    verbose=1,
    callbacks=[monitor_callbacks]
)

Epoch 1/10
7/7 [==============================] - 1s 42ms/step - loss: 0.7100 - accuracy: 0.3950 - val_loss: 0.6921 - val_accuracy: 0.3837
Epoch 2/10
7/7 [==============================] - 0s 10ms/step - loss: 0.6793 - accuracy: 0.5650 - val_loss: 0.6708 - val_accuracy: 0.5000
Epoch 3/10
7/7 [==============================] - 0s 10ms/step - loss: 0.6552 - accuracy: 0.5550 - val_loss: 0.6522 - val_accuracy: 0.5000
Epoch 4/10
7/7 [==============================] - 0s 10ms/step - loss: 0.6351 - accuracy: 0.5550 - val_loss: 0.6355 - val_accuracy: 0.5000
Epoch 5/10
7/7 [==============================] - 0s 11ms/step - loss: 0.6155 - accuracy: 0.5550 - val_loss: 0.6181 - val_accuracy: 0.5000
Epoch 6/10
7/7 [==============================] - 0s 10ms/step - loss: 0.5949 - accuracy: 0.5550 - val_loss: 0.6011 - val_accuracy: 0.5000
Epoch 7/10
7/7 [==============================] - 0s 10ms/step - loss: 0.5738 - accuracy: 0.5550 - val_loss: 0.5831 - val_accuracy: 0.5000
Epoch 8/10
7/7 [==============================] - 0s 10ms/step - loss: 0.5513 - accuracy: 0.5550 - val_loss: 0.5666 - val_accuracy: 0.5000
Epoch 9/10
7/7 [==============================] - 0s 12ms/step - loss: 0.5308 - accuracy: 0.5550 - val_loss: 0.5500 - val_accuracy: 0.5000
Epoch 10/10
7/7 [==============================] - 0s 12ms/step - loss: 0.5111 - accuracy: 0.5550 - val_loss: 0.5333 - val_accuracy: 0.5000